.cart {
	align-items: center;
	font-family: "adelle";
	width: 100vw;
	height: 100vh;
	background-attachment: fixed;
	background-size: cover;
	margin: 0 auto;
	color: black;
	background-color: #f2f2f2;
}

.cart-c {
	align-items: center;
	background: transparent;
	width: fit-content;
	background-color: #f2f2f2;
}

.button-div {
	max-width: 25%;
	min-width: 30%;
	display: flex;
	justify-content: space-between;
	margin: auto;
}

@media (max-width: 850px) {
	.button-div {
		max-width: 25%;
		min-width: 60%;
	}
}
.top-buttons {
	margin-top: 200px;
	margin-bottom: 20px;
}

.no-cart {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 450px;
	height: 250px;
	margin: auto;
}

.cart-items {
  display: flex;
  max-width: 50%;
	min-width: 50%;
  gap: 2%;
  justify-content: space-evenly;
	margin: 0 auto;
  margin-top: 20px;
	padding: 15px;
	border-radius: 10px;
	background-color: #fff;
	margin-bottom: 10px;
}

.cart-items h3 {
  text-decoration: none;
	margin: 0;
	/* font-size: 18px; */
	/* font-weight: bold; */
}

.total-container {
	margin: auto;
	max-width: 50%;
	min-width: 50%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.remove-all {
	margin: 0 auto;
}
.trash:hover{
	color: #f44336;

}
.item-price {

	font-size: 18px;
	color: #f44336;
}

.cart-items p {
	margin: 10px 0;
	font-size: 14px;
}

.cart-items button {
	float: right;
	padding: 5px 10px;
	border-radius: 5px;
  border: none;
	background-color: transparent;
	color: black;
	font-size: 14px;
	cursor: pointer;
}
