.menu-item {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	gap: 1%;
	padding: 8px;
	border-bottom: 1px solid rgb(0, 0, 0);
}

.menu-item h4 {
	text-align: left;
	font-size: 1rem;
	width: 40%;
}

.menu-item p {
	font-size: 0.9rem;
	width: 100%;
}

.price {
	font-size: 0.75rem;
}
.menu-item button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}
.menu-item button:hover {
	color: firebrick;
}

.menu-item .price {
	display: flex;
	width: 7%;
	text-align: right;
}

@media only screen and (max-width: 630px) {
	.menu-item {
		flex-direction: column;
	}
	.menu-item h4 {
		width: 100%;
		font-size: 1.2rem;
		text-align: left;
	}
	.menu-item p {
		font-size: 1.2rem;
		text-align: left;
		margin-bottom: 10px;
	}
	.price {
		margin-top: 10px;

		text-align: left;
		margin-right: auto;
	}

	.quantity-div {
		bottom: 5px;
	}
}
