.nav-bar .nav-link {
	margin: 2px 0;
}

.nav-link {
	max-width: 100%;
	background-color: transparent;
	border: none;
	text-decoration: none;
	font-family: "Helvetica Neue", "Arial", "sans-serif";
	font-size: 12px;
	line-height: 1.25em;
	color: white;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: normal;
	font-style: normal;
	list-style-type: none;
	cursor: pointer;
}

.nav-link:hover {
	text-decoration: underline;
	color: rgb(71, 71, 153);
}
.nav-bar-container {
	margin-top: 10px;
	width: 100vw;
	background-color: black;
}

.nav-bar {
	height: 35px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	align-items: center;
	background-color: black;
	display: flex;
	justify-content: space-evenly;
	margin: auto;
	z-index: 1;
	/* gap: 10%; */
}
.logout-button {
	max-width: 100%;
	align-items: center;
	background-color: transparent;
	border: none;
	text-decoration: none;
	font-family: "Helvetica Neue", "Arial", "sans-serif";
	font-size: 12px;
	color: white;
	line-height: 1.25em;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: normal;
	font-style: normal;
	cursor: pointer;
}

.logout-button:hover {
	text-decoration: underline;
	color: rgb(71, 71, 153);
}

@media (max-width: 775px) {


	.nav-bar{
		display: flex;
		flex-wrap: wrap;
		gap: 2%;
		height: 50px;


	}
}
