.quantity-div {
  display: flex;
  align-items: center;
}

.quantity-div input {
	max-width: 25px;
  max-height: 20px;
	text-align: center;
	border: 1px solid gray;
	border-radius: 5px;
	font-size: 20px;
}

.quantity-div button {
	width: 40px;
	height: 40px;
	font-size: 20px;
	border: none;
	background-color: transparent;
}

